.align
{
    text-align: center;
}

.blue
{
    color: blue;
}

table
{
    border: 1px solid black;
    border-collapse: collapse;
}

footer
{
    font-size: small;
}

body
{
    background-color: pink;
}