{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if edit %}
        Edit
    {% else %}
        New Page
    {% endif %}
{% endblock %}

{% block body %}
    {% if exist %}
        <div class="alert alert-danger col-md-11">
            Page already exists
        </div>
    {% endif %}
    <form action="{% url 'encyclopedia:new' %}" method="POST">
        {% csrf_token %}
        {{ form }}<br>
        {% if edit %}
            <button class="btn btn-secondary">Save Changes</button>
        {% else %}
            <button class="btn btn-secondary">Save New Page</button>
        {% endif %}
    </form>
{% endblock %}